| Welcome to Spaceship Samurai!#{'\r\n'}
| =============================#{'\r\n'}
| #{'\r\n'}
| You're almost done setting up your auth account. Please take a moment to activate your account using the link below.#{'\r\n'}
| #{'\r\n'}
| #{confirmation_link}#{'\r\n'}
| Thanks,#{'\r\n'}
| The Samurai IT Staff#{'\r\n'}


