| Spaceship Samurai - Password Reset!#{'\r\n'}
| =============================#{'\r\n'}
| #{'\r\n'}
| A request has been made to reset your password. Please use the link below to do so. #{'\r\n'}
| If you feel this is in error just ignore this email. #{'\r\n'}
| #{'\r\n'}
| #{reset_link}#{'\r\n'}
| Thanks,#{'\r\n'}
| The Samurai IT Staff#{'\r\n'}
